<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <link rel="stylesheet" href="/__kawa__/mocha.css"/>
  <script src="/__kawa__/browser-source-map-support.js"></script>
  <script>sourceMapSupport.install()</script>

  <% scripts.forEach(function(script) { %>
  <script src="/__kawa__/script?id=<%= script %>"></script>
  <% }) %>

  <% styles.forEach(function(style) { %>
  <link rel="stylesheet" href="/__kawa__/style?id=<%= style %>"/>
  <% }) %>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/__kawa__/mocha.js"></script>
  <script src="/__kawa__/client.js"></script>
  <% tests.forEach(function(test) { %>
  <script src="/__kawa__/test?id=<%= test %>"></script>
  <% }) %>

</head>
<body>
<div id="mocha"></div>
<% if(ngapp) { %>
  <div ng-app="<%= ngapp %>"></div>  
<% } %>
</body>
</html>
