<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <link rel="stylesheet" href="/__testy__/mocha.css"/>
  <script src="/__testy__/browser-source-map-support.js"></script>
  <script>sourceMapSupport.install()</script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/__testy__/mocha.js"></script>
  <script src="/__testy__/client.js"></script>
  <% tests.forEach(function(test) { %>
  <script src="/__testy__/tests?id=<%= test %>"></script>
  <% }) %>
</head>
<body>
<div id="mocha"></div>
</body>
</html>
