<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <link rel="stylesheet" href="/mocha.css"/>
  <script src="/browser-source-map-support.js"></script>
  <script>sourceMapSupport.install();</script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/mocha.js"></script>
  <script src="/client.js"></script>
  <!-- Tests suite -->
  <% tests.forEach(function(test) { %>
  <script src="/tests?id=<%= test %>"></script>
  <% }) %>
</head>
<body>
<div id="mocha"></div>
</body>
</html>
