<!DOCTYPE html>
<html>
<head>
  <title>Test</title>

  <!-- Mocha -->
  <link rel="stylesheet" href="/mocha.css"/>

  <!-- Socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect();
    socket.on('reload', function () {
      document.location.reload();
    });

    // Overide console.log ...
    // console.log = function() {
    //   socket.emit('log', Array.prototype.slice.call(arguments));
    // }
  </script>

</head>
<body>

<div id="mocha"></div>

<script src="/mocha.js"></script>
<script>mocha.setup('bdd')</script>

<!-- Tests suite -->
<% tests.forEach(function(test) { %>
<script src="/tests/<%= test %>"></script>
<% }) %>
<script>
  mocha.checkLeaks();
  mocha.reporter('spec')
  mocha.run();
</script>


</body>
</html>
